.viewtabs-tabs
{
  background-image: linear-gradient(rgb(92, 121, 201),rgb(63, 87, 155));
}

.viewtabs-tab
{
  height: 100%;
  display: inline-block;
  font-size: 50%;
  color: rgb(2, 15, 46);
  padding: 2vh 2vw;
}

.viewtabs-selected
{
  background-image: linear-gradient(rgb(56, 93, 197), rgb(42, 73, 158));
}

.viewtabs-content.invisible
{
  visibility: hidden;
}