/* APP */

/* General */

button
{
  border: 1px solid black;
  background: #fa0;
}

button.transaction
{

}

/* TransactionViews */

.transactionviews
{
  
}

/* FormatPoints */

.hundreds
{
    font-size: 80%;
}

/* ScoreDisplay */

.absolutepoints, .relativepoints
{
    border: 1px solid black;
}

/* ConfirmTransactionPopup */

.popupbackdrop
{

}

.popup
{

}

.winlosechoice
{

}

.winchoice
{

}

.winchoice button
{

}

.losechoice
{

}

.losechoice button
{

}

/* IncreaseDecrease */

.increasedecrease
{

}

.increasedecrease .label
{

}

.increasedecrease .action
{

}

/* TABS */

/* SmallTransactions */

.smalltransactions
{

}

.smalltransaction
{

}

/* ScoringTable */

.scoringtable
{

}

.scoringtable table
{

}

.scoringtable table th
{

}

/* LimitHands */

.limithands
{

}

.limithands table
{

}

/* CustomInput */

.custominput
{

}

/* AppInfo */

.appinfo
{

}